In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/tmdb_5000_movies.csv')
credits = pd.read_csv('/content/drive/MyDrive/tmdb_5000_credits.csv')

In [ ]:
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
#Merge both datasets
movies = movies.merge(credits, on='title')

In [ ]:
movies.shape

(4809, 23)

In [ ]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

In [ ]:
# We will use the following columns : genres,movie_id,keywords,overview,production_companies,title,cast,crew
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew','production_companies']]

In [ ]:
movies.head(1)

   movie_id  ...                               production_companies
0     19995  ...  [{"name": "Ingenious Film Partners", "id": 289...

[1 rows x 8 columns]

In [ ]:
#Check missing value
movies.isnull().sum()

movie_id                0
title                   0
overview                3
genres                  0
keywords                0
cast                    0
crew                    0
production_companies    0
dtype: int64

In [ ]:
movies.dropna(inplace=True)

In [ ]:
#Check for duplicate data
movies.duplicated().sum()

0

*Cleaning the columns for creation of Tags:*

In [ ]:
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [ ]:
# From the genre column we just need the words like Action,Adventure,Fantasy etc. So we will create a function which retrieves those words from the list.
# Also this is a string of list. We need to convert that into a list and then retreive our values.
import ast
def convert(obj):
  l=[]
  for i in ast.literal_eval(obj):
    l.append(i['name'])
  return l

In [ ]:
movies['genres'] = movies['genres'].apply(convert)

In [ ]:
movies.head()

   movie_id  ...                               production_companies
0     19995  ...  [{"name": "Ingenious Film Partners", "id": 289...
1       285  ...  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2    206647  ...  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3     49026  ...  [{"name": "Legendary Pictures", "id": 923}, {"...
4     49529  ...        [{"name": "Walt Disney Pictures", "id": 2}]

[5 rows x 8 columns]

In [ ]:
#We will use the same function on 'Keywords' column
movies['keywords'] = movies['keywords'].apply(convert)

In [ ]:
movies.head()

   movie_id  ...                               production_companies
0     19995  ...  [{"name": "Ingenious Film Partners", "id": 289...
1       285  ...  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2    206647  ...  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3     49026  ...  [{"name": "Legendary Pictures", "id": 923}, {"...
4     49529  ...        [{"name": "Walt Disney Pictures", "id": 2}]

[5 rows x 8 columns]

In [ ]:
movies['production_companies'] = movies['production_companies'].apply(convert)

In [ ]:
movies.head()

   movie_id  ...                               production_companies
0     19995  ...  [Ingenious Film Partners, Twentieth Century Fo...
1       285  ...  [Walt Disney Pictures, Jerry Bruckheimer Films...
2    206647  ...                   [Columbia Pictures, Danjaq, B24]
3     49026  ...  [Legendary Pictures, Warner Bros., DC Entertai...
4     49529  ...                             [Walt Disney Pictures]

[5 rows x 8 columns]

In [ ]:
#For cast we will just take the first 5 names (As they would be playing the lead characters)
def cast(obj):
  counter = 0
  l=[]
  for i in ast.literal_eval(obj):
    if counter != 5:
     l.append(i['name'])
     counter = +1
    else:
      break
  return l

In [ ]:
movies['cast'] = movies['cast'].apply(cast)

In [ ]:
movies.head()

   movie_id  ...                               production_companies
0     19995  ...  [Ingenious Film Partners, Twentieth Century Fo...
1       285  ...  [Walt Disney Pictures, Jerry Bruckheimer Films...
2    206647  ...                   [Columbia Pictures, Danjaq, B24]
3     49026  ...  [Legendary Pictures, Warner Bros., DC Entertai...
4     49529  ...                             [Walt Disney Pictures]

[5 rows x 8 columns]

In [ ]:
#For crew we will just take the Director
def crew(obj):
  l=[]
  for i in ast.literal_eval(obj):
    if i['job'] == 'Director':
      l.append(i['name'])
      break
  return l

In [ ]:
movies['crew'] = movies['crew'].apply(crew)

In [ ]:
movies.head()

   movie_id  ...                               production_companies
0     19995  ...  [Ingenious Film Partners, Twentieth Century Fo...
1       285  ...  [Walt Disney Pictures, Jerry Bruckheimer Films...
2    206647  ...                   [Columbia Pictures, Danjaq, B24]
3     49026  ...  [Legendary Pictures, Warner Bros., DC Entertai...
4     49529  ...                             [Walt Disney Pictures]

[5 rows x 8 columns]

In [ ]:
#Convert the overview column from a string to a list
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies.head(1)

   movie_id  ...                               production_companies
0     19995  ...  [Ingenious Film Partners, Twentieth Century Fo...

[1 rows x 8 columns]

In [ ]:
#Removing the spaces between one single entity and creating one tag for it
def collapse(L):
  l = []
  for i in L:
    l.append(i.replace(" ",""))
  return l

In [ ]:
movies["genres"] = movies["genres"].apply(collapse)

In [ ]:
movies.head(1)

   movie_id  ...                               production_companies
0     19995  ...  [Ingenious Film Partners, Twentieth Century Fo...

[1 rows x 8 columns]

In [ ]:
movies["cast"] = movies["cast"].apply(collapse)
movies["keywords"] = movies["keywords"].apply(collapse)
movies["crew"] = movies["crew"].apply(collapse)
movies["production_companies"] = movies["production_companies"].apply(collapse)

In [ ]:
movies.head(1)

   movie_id  ...                               production_companies
0     19995  ...  [IngeniousFilmPartners, TwentiethCenturyFoxFil...

[1 rows x 8 columns]

In [ ]:
#Concatenate all these columns to make a new column
movies["tags"] = movies["overview"] + movies["genres"] + movies["keywords"] + movies["cast"] + movies["crew"] + movies["production_companies"]
movies.head(1)

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...

[1 rows x 9 columns]

In [ ]:
df = movies[['movie_id','title','tags']]

In [ ]:
df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  [In, the, 22nd, century,, a, paraplegic, Marin...

In [ ]:
#Converting the list to string (in tags column)
df['tags'] = df['tags'].apply(lambda x:" ".join(x))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  In the 22nd century, a paraplegic Marine is di...

In [ ]:
df['tags'] = df['tags'].apply(lambda x:x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df.head(1)

   movie_id   title                                               tags
0     19995  Avatar  in the 22nd century, a paraplegic marine is di...

*Using CountVectorizer for creating vectors from tags*

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=6000,stop_words ='english')

In [ ]:
vectors = cv.fit_transform(df['tags']).toarray()

In [ ]:
vectors.shape

(4806, 6000)

We will find the similarity between each vectors using cosine similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
#This represents the similarity of the first vector (in this case movie) with ll the 4806 movies
similarity[0]

array([1.        , 0.06251357, 0.04697114, ..., 0.02129589, 0.02380952,
       0.        ])

In [ ]:
#Now we will create a function which takes a movie --- finds its index ---- finds the top 5 indexes similiar to it and returns them
def recommend(movie):
  index = df[df['title'] == movie].index[0]
  similar = sorted(list(enumerate(similarity[index])),reverse=True,key=lambda x:x[1])
  for i in similar[1:6]:
    print(df.iloc[i[0]].title)

In [ ]:
recommend('Iron Man')

Iron Man 2
Iron Man 3
Avengers: Age of Ultron
The Avengers
Thor

In [ ]:
#Wohoooooo! Looks like this works!